node_modules/
.DS_Store
*.log
*.pid
logs
*.swp
*.idea
*.vscode
*-compiled.*
.pm2
typings*
dist/
build/
docs/
package-lock.json
src/public/js/pcmsdk/.svn/
vendor
glide.lock
debug
smart.data
nohup.out
gopath